@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  scroll-behavior: smooth;
}
body {
  background-color: #061e3a;
  font-family: sans-serif;
}
.background-home {
  background-image: url("/background1.webp");
  background-position: center;
  background-size: cover;
}
.background-about {
  background: url("/about-background.webp"), #061e3a;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
}
.background-marta {
  background: url("/marta.webp");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}

.background-marta::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 100%;
  background-image: linear-gradient(
    90deg,
    rgba(17, 238, 169, 0.4) 20.31%,
    rgba(3, 149, 252, 0.4) 66.15%,
    rgba(0, 84, 255, 0.4) 92.71%
  );
  background-blend-mode: overlay;
}

.background-fractal {
  background: url("/fractal-bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.vision-gradient {
  background-color: #061e3a;
  border-image: linear-gradient(
      142deg,
      rgba(17, 238, 169, 1) 27%,
      rgba(3, 149, 252, 1) 66%,
      rgba(0, 84, 255, 1) 100%
    )
    1;
  border-image-slice: 1;
  padding: 10px; /* Añade el espacio de padding que necesites */
}

.background-circuit {
  background: url("/circuit.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
